# Exported functions 
export(lordif, montecarlo, calcprob, calctheta, collapse, equate,    
       extract, getcutoff, probgrm, recode, rundif, runolr,    
       separate, tcc, plot.lordif, plot.lordif.MC, permute )
S3method(print, lordif)
S3method(print, lordif.MC)
S3method(summary, lordif)
S3method(summary, lordif.MC)
S3method(plot, lordif)
S3method(plot, lordif.MC)
# Imported functions
importFrom("ltm", grm)
